In [2]:
# ------------- INICIO ----------------

import pandas as pd

df = pd.read_csv('./data/application_train.csv', index_col=0)

# Reset do indice para liberar a coluna SK_ID_CURR
df.reset_index(inplace = True)

semente = 2306 #Data de aniversário

# Pegando as 30 colunas obrigatórias
df30 = df.iloc[:,0:30]

# Pegando colunas a partir da 31 (30 pq é indice 0) para sorteio
df_temp=df.iloc[:,30:]

# Sorteio de 10 colunas com a semente Data Aniversario
df10 = df_temp.sample(10,axis=1,random_state=semente)

# Juntar todas as colunas 30 obrigatorias + 10 do sorteio
df40 = pd.concat([df30, df10], axis=1)

# Imprimir o resultado:
i = 1
for x in df40.columns:
    print(str(i) + " - " + x)
    i += 1
    
# ------------- FIM ----------------

1 - SK_ID_CURR
2 - TARGET
3 - NAME_CONTRACT_TYPE
4 - CODE_GENDER
5 - FLAG_OWN_CAR
6 - FLAG_OWN_REALTY
7 - CNT_CHILDREN
8 - AMT_INCOME_TOTAL
9 - AMT_CREDIT
10 - AMT_ANNUITY
11 - AMT_GOODS_PRICE
12 - NAME_TYPE_SUITE
13 - NAME_INCOME_TYPE
14 - NAME_EDUCATION_TYPE
15 - NAME_FAMILY_STATUS
16 - NAME_HOUSING_TYPE
17 - REGION_POPULATION_RELATIVE
18 - DAYS_BIRTH
19 - DAYS_EMPLOYED
20 - DAYS_REGISTRATION
21 - DAYS_ID_PUBLISH
22 - OWN_CAR_AGE
23 - FLAG_MOBIL
24 - FLAG_EMP_PHONE
25 - FLAG_WORK_PHONE
26 - FLAG_CONT_MOBILE
27 - FLAG_PHONE
28 - FLAG_EMAIL
29 - OCCUPATION_TYPE
30 - CNT_FAM_MEMBERS
31 - DEF_30_CNT_SOCIAL_CIRCLE
32 - FLAG_DOCUMENT_8
33 - FLAG_DOCUMENT_3
34 - FLAG_DOCUMENT_15
35 - LIVINGAREA_MEDI
36 - EMERGENCYSTATE_MODE
37 - REGION_RATING_CLIENT_W_CITY
38 - FLOORSMIN_AVG
39 - FLAG_DOCUMENT_19
40 - ORGANIZATION_TYPE